VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=be-blank-studio-os.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=be-blank-studio-os
VITE_FIREBASE_STORAGE_BUCKET=be-blank-studio-os.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=290937844212
VITE_FIREBASE_APP_ID=1:290937844212:web:ac514b9d1a0fe07593c9a1
VITE_ALLOWED_STUDIO_EMAIL=phorr.tananchai@beblanktobehindstudio.com
