VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=be-blank-studio-os.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=be-blank-studio-os
VITE_FIREBASE_STORAGE_BUCKET=be-blank-studio-os.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_ALLOWED_STUDIO_EMAIL=phorr.tananchai@beblanktobehindstudio.com
